<footer class="site-footer h-card">
  
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name"><a href="https://docs.google.com/forms/d/e/1FAIpQLSd4lrCTPWsbGo3bEUS5GSZbrzDgIkT01DitBe_JrRS-BkAeBw/viewform?usp=sf_link"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#rss"></use></svg>Newsletter</a></li>
          <li class="p-name"><a href="https://www.twitter.com/prod_geeks"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg>Twitter</a></li>
          <li class="p-name"><a href="https://docs.google.com/forms/d/e/1FAIpQLSdEMfWfOM8rNg-6JPCYntBxvr_COOemmxjGgicqOIw11QX2Fg/viewform?usp=sf_link"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#linkedin"></use></svg>Interview requests</a></li>
        </ul>
      </div>

      <!--
      <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://www.twitter.com/prod_geeks"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">prod_geeks</span></a></li></ul>
      </div>
    -->

    <!--
      <div class="footer-col footer-col-3">
        <p>Do you want to get interviewed? <a href='https://docs.google.com/forms/d/e/1FAIpQLSdEMfWfOM8rNg-6JPCYntBxvr_COOemmxjGgicqOIw11QX2Fg/viewform?usp=sf_link'>Let us know!</a></p>
      </div>
    </div>
    -->

  </div>



</footer>


